<dif class='type-list'>
    <table>
     <tr>
      <th>タイプ</th>
     </tr>
     <%@type.each do |type|%>
     <tr>
      <td><%=type.type_name%></td>
      <td></td>
     </tr>
     <%end%>
    </table>
</dif>